/* main color :-
    asfr : #f89a1d;
    azrq : #2a5baa;  */
    
body{
    cursor:-webkit-grab;
    color: black;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}



.courses
{
    margin-top: 70px;
    height: auto;
}
.courses .title
{
    font-weight: bold;
    font-size: 25px;
    width: 850px;
    padding: 25px 10px;
    margin: 40px auto;
    
}
.courses .title span:nth-of-type(1)
{
    color: #f89a1d
}
.courses .title span:nth-of-type(2)
{
    color: #2a5baa;
}
.courses .course-box
{
    width: 100%;
    height: 410px;
    background-color: rgba(42,91,170,0.1);
    transition: 0.7s;
    position: relative;
    margin-bottom: 70px;
    top: 10px;
    overflow: hidden;
}   
.courses .course-box:hover
{
    box-shadow: 1px 1px 10px #000;
    border-bottom: 5px solid #f89a1d;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 0;
}
.courses .course-box img
{
    width: 100%;
    height: 43%;
}
.courses .course-box h3
{
    color: #222;
    font-weight: bold
}
.courses .course-box p
{
    color: #666;
    font-size: 14px;
    margin: 8px auto;
    width: 90%;
}
.courses .course-box .rate
{
    position: absolute;
    padding: 2px 6px;
    left: -243px;
    top: 20px;
    background-color: #f89a1d;
    border: 3px solid #2a5baa;
    font-weight: bold;
    font-size: 15px;
    transition: 1s;
}
.courses .course-box:hover .rate
{
    left: -161px;
}
.courses .course-box .shape-rate i
{
    font-size: 20px;    
}
.courses .course-box .sub
{
    margin: 15px auto;
    border-radius: 13px;
    border: 2px solid #2a5baa;
    background-color: #f89a1d;
    transition: 0.5s;
    outline: none;
}
.courses .course-box .sub:hover
{
    border: 2px solid #f89a1d;
    background-color: #2a5baa;
}
/* strat our footer*/
.footer .social i
{
    font-size: 22px;
    margin-right: 7px;
    color: #999;
    transition: 0.5s;
    margin-bottom: 20px;
}
.footer .social i:hover
{
    color: #f89a1d;
    transform: scale(1.3)
}
.footer .copyright
{
    background-color: #333;
    color: #AAA;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 17px;
}
