.top10Header{
        font-size:40px;
        font-family: 'Raleway';
        letter-spacing: -2px;
        margin-bottom: 50px;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }


    #imageLink:hover{
      position: relative;
    }

    #imageLink[data]:hover:after{
        content: attr(data);
        padding: 4px 8px;
        color: white;
        position: absolute;
        left: 75px;
        top: 40px;
        white-space: nowrap;
        z-index: 2;
        border-radius: 20px ;
        background: rgba(0,0,0,1);
        border: 1px solid white;
        font-family: 'Raleway';
        font-size: 14px;
    }

    table td , table th{
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    table th{
        padding: 20px 10px 10px 10px;
    }

    .ranks{
        text-align: center;
        margin: 220px auto 145px auto;
    }

    .rank2 , .rank1 , .rank3{
        display: inline;
        background-color: #333;
        color: white;
        font-family: 'Raleway';
        font-size: 40px;
    }

    .rank2{
        padding: 20px 50px 30px 50px;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 0 10px 0 #333;
    }

    .rank1{
        padding: 50px 70px 30px 70px;
        margin: -4px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 10px 0 #333;
    }

    .rank3{
        padding: 10px 50px 30px 50px;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 10px 0 #333;
    }

    .rankImg2{
        margin: -133px -39px 0 -42px;
        border:none;
        box-shadow: 0 0 10px 0 #333;
    }

    .rankImg1{

        margin:-190px 0px 0px 75px;
        border:none;
        box-shadow: 0 0 10px 0 #333
    }

    .rankImg3{
        box-shadow: 0 0 10px 0 #333;
        margin: -108px -55px 0 30px;
        border:none;
    }


    .comDiv{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: inline-table;
        background-color: black;
        margin-left: -54px;
        position: absolute;
        background-size: cover;
        text-align: center;
        color: white;
        font-family: 'Raleway';
    }

    .comDiv div{
        background-color: rgba(64, 64, 64,0.8);
        height: 100%;
        border-radius: 50%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        overflow-wrap: break-word;
        font-size: 8px;
    }