@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);*/
/*@import url(https://fonts.googleapis.com/css?family=Squada+One);*/
/*
#header{
    margin-left: 10%
}

#register-form{
    margin-top: 6%;
}

#logo {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    margin-left: 150px
}
#logo:after {
    position: absolute;
    left: 8px;
    top: 32px;
}
#logo:after {*/
    /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
    /*background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
}*//*
#menu {
    width: 1090px;
    height: 42px;
    list-style: none;
    margin: 10px 0 0 0; padding: 25px 10px;
    border-top: 4px double #AAA;
    border-bottom: 4px double #AAA;
    position: relative;
    text-align: center;
}
#menu li {
    display: inline-block;
    width: 173px;
    margin: 0 10px;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
}
#menu li a {
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
    font-weight: 800;
    display: block;
    background: #FFF;
    padding: 2px 10px;
    color: #333;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-shadow: 
        1px 1px 0px #FFF, 
        2px 2px 0px #999,
        3px 3px 0px #FFF;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
    -webkit-transition: 1s all;
    background-image: -webkit-linear-gradient(left top, 
        transparent 0%, transparent 25%, 
        rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
        transparent 50%, transparent 75%, 
        rgba(0,0,0,.15) 75%);
    background-size: 4px 4px;
    box-shadow: 
        0 0 0 1px rgba(0,0,0,.4) inset, 
        0 0 20px -5px rgba(0,0,0,.4),
        0 0 0px 3px #FFF inset;
}
#menu li:hover {
    width: 203px;
    margin: 0 -5px;
}
#menu a:hover {
    color: #d90075;
}
#menu li:after,
#menu li:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #BBB;
    -webkit-transform: skewY(8deg);
    z-index: -3;
    border-radius: 4px;
}
#menu li:after {
    background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
    right: 0;
    top: -4px; 
}
#menu li:before {
    left: 0;
    bottom: -4px;
    background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}
*/
/* start notification */

#notification-link {
    /*pointer-events: none;*/
}
.readed
{
    background-color: aliceblue;
}
.num_of_notification
{
    position: absolute;
    background-color: #2a5baa;
    padding: 3px 4px;
    border-radius: 3px;
    color: #FFF;
    font-size: 10px;
    margin: -5px 0 0 -6px;
    font-weight: bold;
    font-family: 'arial';
}
/*.new_notification
{
    position: fixed;
    top:85%;
    z-index: 199000;

    width: 650px;
}*/
/*.add-nitification
{
    padding: 15px;
}*/

/*.num_of_notification
{
    background-color: #2a5baa;
    padding: 2px 6px;
    border-radius: 50%;
    color: #FFF;
}*/
/*.new_notification
{
    position: fixed;
    top:85%;
    z-index: 199000;
    width: 650px;
}*/
/*.add-nitification
{
    padding: 15px;
}*/

/* end notification */
/*
.navbar-inverse{min-height: 60px;background-color: #353537}

.navbar-inverse .navbar-nav > .active > a
, .navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{ color: #fff;}
.navbar-inverse .navbar-nav > li > a
{
    color: #BBB;
    padding-bottom: 20px;
    /*padding-top: 20px;*/
    /*font-size: 17px
}*//*
.navbar-inverse .navbar-brand
{
    color: #BBB;
    font-size: 30px;
    line-height: 30px;
}
.navbar-inverse .navbar-form input
{
    background-color:#4B5557;
    color: #fff;
}
.navbar-inverse .navbar-form i{color: #fff}      
.navbar-inverse .navbar-form button
{background: none;border: none;color: #fff}

.navbar-nav > li >.dropdown-menu 
{
    background-color: #0B0F12;min-width: 200px;
}

.dropdown-menu > li > a
{
    color: #fff;
    padding: 6px 20px;
    -webkit-transition:padding .5s ease;
    -moz-transition:padding .5s ease;
    -o-transition:padding .5s ease;
    transition:padding .5s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color: #fff;padding-left: 25px;}
.navbar-nav > li > .dropdown-menu .divider {background-color: #EE4035;}
*/
/* navbar toggle*//*
.navbar-toggle{ margin-top: 18px;}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{

    background-color: #EE4035;
}
.navbar-inverse .navbar-brand span
{
    color: #EE4035;
}
.dropdown-menu
{
    border-top: 3px solid #EE4035;
}
.bttn
{
    margin-right: 50px
}

.bttn .btn-primary
{
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    margin-left:4px;
    margin-right:4px;
}