.btn span.glyphicon {         

  opacity: 0;       

}

.btn.active span.glyphicon {        

  opacity: 1;

}

.rem{

  margin:10px 0 0 16px;

  font-weight: lighter;

  color: #000;

}



.checkbox label{

  padding:0px 3px 0px 3px;

  background: #2a5baa;

}