
img{
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

h3,h4{
    color: black;
}

hr{
    width: 20%;
    border-top: 3px solid #732342;
    margin: 10px 0;
}

#save:hover{
    cursor: pointer;
}

#img_prev , #cimg_prev{

    opacity: 1;

    display: block;

    transition: .5s ease;

    backface-visibility: hidden;

}



#img_prev {

    height: 230px;

    width: 70%;

    margin-left: 52px;
}



#cimg_prev {

    width: 1137.5px;

    height: 500px;

    border: none;

    padding: 0

}



#save{
    background:none;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
}

#save:hover{
    box-shadow: 0 0 5px 0 #333;

}




#div_img:hover , #div_cimg:hover{

    cursor: pointer;

}



.google:hover{

    cursor: default;

}





.form-control {

    display: inline-block;

}



.socialmedia {

    padding: 20px;

    font-size: 30px;

    width: 70px;

    border-radius: 50%;

    color: white;

    text-decoration: none;

    transition: all 0.8s;

}



.fa-facebook1:hover , .fa-twitter1:hover , .fa-google1:hover , .fa-linkedin1:hover , .fa-instagram1:hover{

    transform: rotate(360deg);

    transition: all 0.8s;

    text-decoration: none;

    cursor: pointer;

    color: white;

}



.fa-facebook1:visited , .fa-twitter1:visited , .fa-google1:visited , .fa-linkedin1:visited , .fa-instagram1:visited{

    color: white;

}



.fa-facebook1{

    background: #3B5998;

}



.fa-facebook1:hover {

    background: white;

    border:1px solid black;

    color: #3B5998;

}



.fa-twitter1{

    background: #55ACEE;

}



.fa-twitter1:hover {

    background: white;

    border:1px solid black;

    color: #55ACEE;

}



.fa-google1{

    background: #dd4b39;

}



.fa-google1:hover {

    background: white;

    border:1px solid black;

    color: #dd4b39 !important;

}



.fa-linkedin1{

    background: #007bb5;

}



.fa-linkedin1:hover {

    background: white;

    border:1px solid black;

    color: #007bb5;

}



.fa-instagram1{

    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);

}



.fa-instagram1:hover {

    background: white;

    border:1px solid black;

    color: #D92E7F;

}

meter::-webkit-meter-bar {
    background: #333;
    border-radius: 50px;
}
meter::-webkit-meter-optimum-value {
    background: #0066ff;
    background: -webkit-linear-gradient(left , rgb(230, 240, 255), rgb(0, 102, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(230, 240, 255), rgb(0, 102, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(230, 240, 255), rgb(0, 102, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(230, 240, 255), rgb(0, 102, 255)); /* Standard syntax */
    border-radius: 35px 50px 50px 35px;
}
meter {
    background: #333;
    border-radius: 50px;
}
meter::-moz-meter-bar {
    background: #0066ff;
    background: -webkit-linear-gradient(left , rgb(230, 240, 255), rgb(0, 102, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(230, 240, 255), rgb(0, 102, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(230, 240, 255), rgb(0, 102, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(230, 240, 255), rgb(0, 102, 255)); /* Standard syntax */
    border-radius: 35px 50px 50px 35px;
}

