/********** start team box ************/ 
.teams
{
    margin-top: 120px;    
}
.teams .bTeam
{
    height: 300px;
    width: 300px;
    position: relative;
    margin-bottom: 60px;
}
 .bTeam img {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    border: 5px solid #f89a1d
}
.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(43, 91, 170, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.bTeam:hover .team-hover .desk {
    top: 35%;
}
.bTeam:hover .team-hover,
.bTeam:hover .team-hover .desk,
.bTeam:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk,
.desk h2,
.team-hover .s-link a {
    text-align: center;
    color: #222;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.desk h2
{
    font-size: 35px;
}
.desk p span
{
    font-weight: 100;
}
.bTeam:hover .team-hover .s-link {
    bottom: 20%;
}
.bTeam:hover .team-hover,
.bTeam:hover .team-hover .desk,
.bTeam:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.team-hover .s-link button
{
    width: 120px;
}

/********** end team box ************/ 